* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --neutral: #F1EFEF;
    --primary: #945E47;
    --secondary: #E1B591;
    height: 100vh;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary)
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral);
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.nav {
    background-color: var(--secondary);
    height: 60px;
    /* box-shadow: 0 1px 10px black; */
}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    .hero-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-text {
        opacity: 70%;
    }
}

